<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      Ionic Alert Example
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <p></p>
  <ion-button (click)="openMenu()" expand="block">
    Show Action Sheet
  </ion-button>
  <p></p>
  <ion-button (click)="showConfirm()">
    Show Confirm Alert
  </ion-button>
  <ion-button (click)="showRadio()" expand="block">
    Show Radio Alert
  </ion-button>
  <ion-button (click)="showPrompt()">
    Show Prompt Alert
  </ion-button>
  <ion-button (click)="showCheckBoxAlert()" expand="block">
    Show CheckBox Alert
  </ion-button>
</ion-content>
